<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/FlyBall/src/com/null_6th_gwh/ball/GameStart.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.null_6th_gwh.ball.GameStart"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="FlyBall"/>
</launchConfiguration>
